@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto',
        sans-serif;
}

h1 {
    color: #8b0000;
    text-align: center;
    text-transform: uppercase;
    margin-top: 2rem;
}

.container {
    margin: 0 auto;
    max-width: 1400px;

    .cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 2rem;

        .card {
            width: 300px;
            height: 200px;
            border: 1px solid #cccc;
            box-sizing: border-box;
            margin-bottom: 2rem;

            h4 {
                text-align: center;
                padding-top: 10px;
            }

            img {
                width: 100%;
                height: 150px;
            }

            .audioCard {
                height: 150px;
                background-color: #cccc;
            }

            .audio {
                margin-top: 17%;
                width: 90%;
                margin-left: 5%;
            }
        }
    }
}